@use "../../01-settings/abstracts" as abstract;
@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/articles" as article;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/images-and-icons" as images;

a.card-grid {
	&:hover {
		cursor: pointer;

		article.card-grid__article {
			background: color.$c-gold;

			* {
				color: color.$c-pearl;
			}
		}

		svg.image-cut {
			fill: color.$c-gold;
		}
	}
}

.card-grid {
	&__image-wrap {
		@include images.aspect-ratio-1-1;
		background: color.$c-steal;
		position: relative;
		overflow: hidden;
	}

	.image-cut {
		transition: abstract.$link-transition;
		position: absolute;
		z-index: 1;
		bottom: -1px;
		left: 0;
		fill: color.$c-pearl;
	}

	&__article {
		transition: abstract.$link-transition;
		background: color.$c-pearl;
		color: color.$c-white;
		padding: measurement.$universal-space-2 measurement.$universal-space-3;
		@include breakpoint.large-screen-min {
			padding: measurement.$universal-space-2 measurement.$universal-space-4;
		}

		h6 {
			margin-bottom: measurement.$universal-space;
		}

		p {
			color: color.$c-gold;
		}
	}

}
