@use "../../../../../ghg-master/resources/scss/01-settings/measurements" as
	measurement;
@use "../../../../../ghg-master/resources/scss/01-settings/abstracts" as
	abstract;
@use "../../../../../ghg-master/resources/scss/02-tools/articles" as article;
@use "../../../../../ghg-master/resources/scss/02-tools/images-and-icons" as
	image;
@use "../../../../../ghg-master/resources/scss/02-tools/typography" as
	typography;
@use "../../../../../ghg-master/resources/scss/02-tools/buttons" as button;
@use "../../../../../ghg-master/resources/scss/02-tools/lists" as list;

.card-product-series {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;

	&__image-wrap {
		@include image.aspect-ratio-4-3;
		display: block;
		border: 1px solid var(--c-theme-third);
		overflow: hidden;
	}

	&__image {
		transition: abstract.$link-transition;
		padding: measurement.$universal-space-2;
		object-fit: contain !important;
	}

	&__article {
		@include article.standard-settings;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		background: var(--c-off-white);
		padding: measurement.$universal-space-2;
	}

	&__headline {
		font-weight: 700;
	}

	&__tag-line {
		margin: measurement.$universal-space 0;
		font-weight: bold;
	}

	&__series {
		margin-bottom: measurement.$universal-space-2;
	}

	&__title {
		margin: 0;
		color: var(--black);
		font-weight: 500;
	}

	&__tags {
		@include list.tags;
	}

	&__btn {
		@include button.default-settings;
		display: flex !important;
		margin-top: measurement.$universal-space-2;
	}

	&:hover {
		.card-product-series__image {
			transform: scale(1.05);
		}
	}
}
