@use "../../../../../ghg-master/resources/scss/01-settings/abstracts" as
	abstract;
@use "../../../../../ghg-master/resources/scss/01-settings/measurements" as
	measurement;
@use "../../../../../ghg-master/resources/scss/02-tools/container" as container;
@use "../../../../../ghg-master/resources/scss/02-tools/links" as link;
@use "../../../../../ghg-master/resources/scss/02-tools/lists" as list;
@use "../../../../../ghg-master/resources/scss/02-tools/images-and-icons" as
	image;
@use "../../../../../ghg-master/resources/scss/02-tools/breakpoints" as
	breakpoint;
@use "../../../../../ghg-master/resources/scss/02-tools/typography" as
	typography;
@use "../../../../../ghg-master/resources/scss/02-tools/positioning" as position;
@use "../../../../../ghg-master/resources/scss/02-tools/buttons" as button;

.header {
	@include image.logo-settings(var(--c-white));
	position: sticky;
	top: 0;
	z-index: 5;
	transition: abstract.$global-transition;
	background: var(--c-theme-primary);

	padding: measurement.$universal-space-2 0;
	width: 100%;
	color: var(--c-white);

	&--steal {
		@include image.logo-settings(var(--c-theme-primary));
		background: var(--c-theme-third);
		color: var(--c-theme-primary);

		.header {
			&__mobile {
				.btn {
					@include button.default-settings();
				}
			}

			&__nav-wrap {
				.menu-item {
					&:after {
						background: var(--c-theme-primary) !important;
					}
				}
			}

			&__mobile-wrap {
				a {
					color: var(--c-white);
				}

				.btn {
					a {
						color: var(--c-theme-primary);
					}
				}
			}
		}

		.header__logo-link svg {
			fill: var(--c-theme-primary);
		}

		&.header--scrolling {
			background: var(--c-theme-third);
			color: var(--c-theme-primary);

			.btn:hover {
				background: var(--c-black) !important;
			}
		}

		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background: var(--c-theme-primary) !important;
		}

		.hamburger.is-active {
			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				background: var(--c-white) !important;
			}
		}

		.header__mobile {
			background: var(--c-theme-third);
		}
	}

	&__inner {
		@include container.standard-settings(true);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&--overlay {
		position: fixed;
		background-color: transparent;

	}

	&--scrolling {
		box-shadow: abstract.$box-shadow;
		background-color: var(--c-theme-primary);
		padding: measurement.$universal-space 0;

	}

	&__mobile {
		background: var(--c-theme-primary);
	}

	&__nav-wrap {
		display: none;
		@include breakpoint.large-screen-min {
			display: inline-block;
		}
	}

	&__logo-link {
		position: relative;
		z-index: 1;
	}
}

.menu {
	@include list.reset;

	display: flex;
	flex-wrap: wrap;
	gap: measurement.$universal-space-4;

	.menu-item {
		position: relative;

		&.btn,
		&.Btn {
			@include button.default-settings;

			&:after {
				display: none;
			}
		}

		&:after {
			display: block;
			position: absolute;
			top: 80%;
			transform: translate3d(0, 5px, 0);
			opacity: 0;
			transition: abstract.$link-transition;
			background: var(--c-white);
			width: 100%;
			height: 1px;
			content: "";
		}

		@include breakpoint.large-screen-min {
			&:hover {
				&:after {
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}

			&.current-menu-item {
				&:after {
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
		}
	}

	a {
		@include link.reset;
		@include typography.font-small;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}

.navigation-active {
	header.header.header--overlay {
		background: var(--c-theme-primary);
	}
}

.header--scrolling {
	.header__mobile {
		top: 79px;
		height: calc(100vh - 79px);
	}
}
