$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$border-radius: 8px;
$border-radius-full: 32px;
$link-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
$global-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
$slow-transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
$background-blur: 10px;
