.vh {
    @include media-breakpoint-up(lg) {
        &.vh--25 {
            min-height: 25vh;
            height: auto;
        }
        &.vh--33 {
            min-height: 33vh;
            height: auto;
        }
        &.vh--50 {
            min-height: 50vh;
            height: auto;
        }
        &.vh--75 {
            min-height: 75vh;
            height: auto;
        }
        &.vh--100 {
            min-height: 100vh;
            height: auto;
        }
    }
    min-height: auto;
}


.container-fluid {
    &.container--max {
        max-width: $container-max-sm
    }
    &.container--max-lg {
        max-width: $container-max-lg
    }
}