@import '../../../node_modules/bootstrap/scss/utilities/text';


h1, h2, h3 {
    line-height: 1.125;
    font-family: $font-hepta;
    font-weight: 400;
    margin-bottom: 0.53em;
}

h1 {
    font-size: clamp(4.6rem, 7vw, 7.6rem);
    &.text--sm {
        font-size: 4.4rem;
        font-size: clamp(2.2rem, 7vw, 4.4rem);
        line-height: 1.352;
    }
}

h2 {
    font-size: clamp(3.4rem, 7vw, 4.4rem);
    line-height: 1.352;
}

h3 {
    font-size: 2.4rem;
    line-height: 1.41;
}

h2, h3 {
    font-weight: 500;
}

.text--label {
    font-size: 2.4rem;
    font-family: $font-hepta;
    font-weight: 600;
    margin: 0;
}

.text--upper {
    text-transform: uppercase;
    margin: 0;
}

p + .btn {
    margin-top: 1rem;
}