.hamburger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: var(--c-white) !important;
	width: 30px;
	height: 2px;
}
