@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/grid" as grid;
@use "../../02-tools/breakpoints" as breakpoint;

.products-grid {
	@include grid.standard-settings;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	@include breakpoint.medium-screen-min {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@include breakpoint.large-screen-min {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

#series--react {
	.products-grid {
		margin-top: measurement.$universal-space;
		@include breakpoint.medium-screen-min {
			margin-top: measurement.$universal-space-2;
		}
		@include breakpoint.large-screen-min {
			margin-top: measurement.$universal-space-3;
		}
	}
}
