@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/container" as container;
@use "../../02-tools/spacing" as spacing;
@use "../../02-tools/articles" as article;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/buttons" as button;
@use "../../02-tools/typography" as typography;
@use "../../02-tools/grid" as grid;

.related-products {
	@include spacing.section-spacing;
	margin-bottom: 0 !important;

	&__inner {
		@include container.standard-settings(true);
	}

	&__article {
		@include article.standard-settings(true);
	}

	&__grid {
		@include grid.standard-settings;
		@include spacing.spacing-top;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		@include breakpoint.medium-screen-min {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
