@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/positioning" as position;

.social-icons {
	@include position.flex-wrap;
	gap: measurement.$universal-space;

	&__icon {
		margin: 0;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	svg {
		fill: var(--c-theme-secondary);
		width: measurement.$universal-space-2;
		height: measurement.$universal-space-2;

		&:hover {
			fill: var(--c-theme-primary);
		}
	}
}
