nav {
	li.current-menu-item a,
	a:not(.btn):hover {
		color: $colour-accent;
		&:after {
			transform: translateY(0);
			opacity: 1;
			background-color: $colour-accent;
		}
	}
	a:not(.btn) {
		color: $colour-light;
		text-decoration: none;
		@include transition(0.2s $ease-default color);
		position: relative;
		&:after {
			position: absolute;
			top: calc(100% + 0.2rem);
			right: 0;
			left: 0;
			background-color: $colour-light;
			width: 100%;
			height: 0.1rem;
			content: "";
			@include transition(0.2s $ease-default);
			transform: translateY(0.5rem);
			opacity: 0;
		}
	}
	&#header {
		display: inline-flex;
		align-items: center;
		ul {
			display: inline-flex;
			li {
				margin: 0 2rem;
				@include media-breakpoint-up(xl) {
					margin: 0 2.65rem;
				}
				line-height: 1;
			}
		}
		.btn {
			margin-left: 2.85rem;
		}
	}
	&#mobile {
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: center;
		transform: translateX(-100%);
		opacity: 0;
		z-index: 9;
		background-color: $colour-accent;
		padding: 2rem;
		pointer-events: none;
		font-size: 2rem;
		ul {
			@include transition(0.5s $ease-default opacity, 0.75s $ease-default transform);
			opacity: 0;
			transform: translateX(-50%);
			.mobile--active & {
				opacity: 1;
				transform: translateX(0);
			}
			.mobile--closing & {
				opacity: 0;
				transform: translateY(1rem);
				@include transition(0.15s $ease-default);
			}
		}
		li.current-menu-item a,
		a:not(.btn):hover {
			color: $colour-light;
			&:after {
				transform: translateY(0);
				opacity: 1;
				background-color: $colour-light
			}
		}
		body.mobile--active & {
			@include transition(0.5s $ease-default);
			transform: translateX(0);
			opacity: 1;
			pointer-events: all;
		}
		body.mobile--closing & {
			@include transition(0.35s $ease-default 0.15s);
			transform: translateX(-100%);
			opacity: 1;
			pointer-events: all;
		}
		ul {
			margin: 4rem auto 0;
			text-align: center;
			li {
				margin-bottom: 1rem;
			}
		}
		a {
			color: $colour-white;
			text-decoration: none;
		}
	}
	&#footer {
		display: flex;
		flex-wrap: wrap;
		a {
			color: $colour-dark;
			&:hover {
				color: $colour-accent;
			}
		}
		> * {
			@include media-breakpoint-down(sm) {
				flex-basis: 50%;
			}
		}
		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}
		ul {
			@include media-breakpoint-up(md) {
				margin-right: 1rem;
				min-width: 20rem;
			}
		}
	}
}
