html {
	background-color: #eee;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	background: white;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.8;
	font-family: $font-dm;
	color: $colour-dark
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 3.5rem;
	line-height: 1.55;
}

main {
	position: relative;
	z-index: 5;
	overflow: hidden;
	background-color: $colour-light;
}

section {
	padding-top: 3.25rem;
	padding-bottom: 3.25rem;
	@include media-breakpoint-up(md) {
		padding-top: 6.5rem;
		padding-bottom: 6.5rem;
	}
	&.section--media-full {
		position: relative;
		.section__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&:first-child {
		padding-top: 0;
	}
	&[data-anim] {
	}
	&[data-anim="true"] {
	}
}

a {
}

img,
video {
	vertical-align: bottom;
	width: 100%;
}


::selection {
	background-color: transparentize($colour-accent, 0.25);
	color: $colour-light
}