nav {
	&#header {
		display: inline-flex;
		align-items: center;
		ul {
			display: inline-flex;
			li {
				margin: 0 3.2rem;
				line-height: 1;
			}
		}
        .btn {
            margin-left: 3.5rem;
        }
	}
}
