@use "../01-settings/abstracts" as abstract;
@use "../01-settings/measurements" as measurement;
@use "../01-settings/colors" as color;
@use "./articles" as article;
@use "./breakpoints" as breakpoint;
@use "./typography" as typography;
@use "./positioning" as position;
@use "./images-and-icons" as image;
@use "./spacing" as spacing;
@use "./grid" as grid;

@mixin standard-settings {
	label {
		@include typography.base-settings;
		@include typography.font-small;
		margin-bottom: measurement.$universal-space-half;
		color: var(--c-theme-primary);
		font-weight: 800;

		.optional {
			font-weight: 300;
		}
	}
	input,
	.wc-stripe-elements-field,
	select,
	textarea {
		@include typography.base-settings;
		border: 1px solid var(--c-theme-primary);
		border-radius: var(--border-radius);
		background-color: var(--c-white);
		padding: measurement.$universal-space;

		::placeholder {
			opacity: 1;
			color: red !important;
		}
	}
}
