@use "../01-settings/colors" as color;
@use "../01-settings/icons" as icon;
@use "../01-settings/measurements" as measurement;
@use "../01-settings/abstracts" as abstract;
@use "./breakpoints" as breakpoint;
@use "./positioning" as positioning;
@use "./typography" as typography;
@use "./spacing" as spacing;
@use "sass:math";

.icon {
	@each $name, $value in icon.$icon-size {
		&.icon--#{$name} {
			width: $value;
			height: $value;
		}
	}
}

@mixin logo-settings($color: color.$c-white, $brand: "ghg") {
	&__logo-link {
		display: flex;
		align-items: center;

		@include breakpoint.large-screen-max {
			width: 100%;
			max-width: 40%;
		}

		svg {
			fill: $color;
			width: 100%;
			max-width: 18rem;
			height: 5rem;
		}
	}

	@if $brand == "benchmaster" {
		&__logo-link {
			svg {
				max-width: 20rem;
				height: 8rem;
			}
		}
	}
	@if $brand == "aut" {
		&__logo-link {
			max-width: 10rem;
			height: 5rem;
			@include breakpoint.large-screen-min {
				svg {
					max-width: 14rem;
					height: 6rem;
				}
			}
		}
	}
	@if $brand == "aut-block" {
		&__logo-link {
			svg {
				max-width: 15rem;
				height: 10rem;
			}
		}
	}
}

@mixin social-icons {
	@include positioning.flex-wrap;
	column-gap: measurement.$universal-space;

	row-gap: measurement.$universal-space;
	li {
		margin: 0;
	}
	svg {
		fill: var(--c-theme-primary);
	}
}

@mixin aspect-ratio-1-1 {
	@include aspect-ratio-settings;

	padding-top: 100%;
}

@mixin aspect-ratio-16-9 {
	@include aspect-ratio-settings;

	padding-top: 56.25%;
}

@mixin aspect-ratio-4-3 {
	@include aspect-ratio-settings;

	padding-top: 75%;
}

@mixin aspect-ratio-3-2 {
	@include aspect-ratio-settings;

	padding-top: 66.66%;
}

@mixin aspect-ratio-settings {
	position: relative;
	img {
		@include positioning.full-size-element;
		object-fit: cover;
	}
}
