.inline_text {

}

.inline_text__title {
    .content__wrap {
        padding-right: 2.5rem;
    }
}


.inline_text__text {
    &:before {
        content :'';
        position: absolute;
        width: 0.1rem;
        background-color: $colour-dark;
        left: 1rem;
        top: 0;
        bottom: 0;
    }
    .content__wrap {
        padding-left: 5.5rem;
        margin-top: 2.5rem;
    }
}