.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  &.socials--icons {
    display: inline-flex;
    li {
        margin-right: 3rem;
      a {
        width: 3rem;
        height: 3rem;
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        display: inline-block;
        text-indent: 999px;
        // project-specific styles
        background-color: $colour-slate;
        &:hover {
            background-color: $colour-aqua;
        }
      }
      &.socials--facebook {
        a { 
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.11 26.95'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Artwork'%3E%3Cpath d='M27.11,13.56A13.56,13.56,0,1,0,11.44,27V17.47H8V13.56h3.44v-3c0-3.4,2-5.27,5.12-5.27a21.17,21.17,0,0,1,3,.26V8.9H17.88A2,2,0,0,0,15.67,11v2.55h3.76l-.6,3.91H15.67V27A13.56,13.56,0,0,0,27.11,13.56Z' style='fill: %23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
      &.socials--instagram {
        a { 
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.86 24.86'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Artwork'%3E%3Cg%3E%3Cpath d='M12.43,2.24c3.32,0,3.71,0,5,.07a7,7,0,0,1,2.31.43,3.93,3.93,0,0,1,1.43.93,3.69,3.69,0,0,1,.93,1.43,7,7,0,0,1,.43,2.31c.06,1.31.07,1.7.07,5s0,3.71-.07,5a7,7,0,0,1-.43,2.31,4.12,4.12,0,0,1-2.36,2.36,7,7,0,0,1-2.31.43c-1.31.06-1.7.07-5,.07s-3.71,0-5-.07a7,7,0,0,1-2.31-.43,3.69,3.69,0,0,1-1.43-.93,3.93,3.93,0,0,1-.93-1.43,7,7,0,0,1-.43-2.31c-.06-1.31-.07-1.7-.07-5s0-3.71.07-5A7,7,0,0,1,2.74,5.1,4.12,4.12,0,0,1,5.1,2.74a7,7,0,0,1,2.31-.43c1.31-.06,1.7-.07,5-.07m0-2.24C9.05,0,8.63,0,7.31.07a9.55,9.55,0,0,0-3,.58,6.12,6.12,0,0,0-2.2,1.44A6.12,6.12,0,0,0,.65,4.29a9.55,9.55,0,0,0-.58,3C0,8.63,0,9.05,0,12.43s0,3.8.07,5.13a9.54,9.54,0,0,0,.58,3,6.12,6.12,0,0,0,1.44,2.2,6,6,0,0,0,2.2,1.44,9,9,0,0,0,3,.58c1.32.06,1.74.07,5.12.07s3.8,0,5.13-.07a9,9,0,0,0,3-.58,6.43,6.43,0,0,0,3.64-3.64,9,9,0,0,0,.58-3c.06-1.33.07-1.75.07-5.13s0-3.8-.07-5.12a9,9,0,0,0-.58-3,6,6,0,0,0-1.44-2.2A6.12,6.12,0,0,0,20.57.65a9.54,9.54,0,0,0-3-.58C16.23,0,15.81,0,12.43,0Z' style='fill: %23fff'/%3E%3Cpath d='M12.43,6.05a6.38,6.38,0,1,0,6.38,6.38A6.38,6.38,0,0,0,12.43,6.05Zm0,10.52a4.14,4.14,0,1,1,4.14-4.14A4.14,4.14,0,0,1,12.43,16.57Z' style='fill: %23fff'/%3E%3Ccircle cx='19.07' cy='5.8' r='1.49' style='fill: %23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
      &.socials--twitter {
        a { 
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29.74 24.17'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Artwork'%3E%3Cpath d='M29.74,2.86a12.16,12.16,0,0,1-3.51,1A6.14,6.14,0,0,0,28.92.45,12.39,12.39,0,0,1,25,1.93,6.1,6.1,0,0,0,14.49,6.1a5.81,5.81,0,0,0,.16,1.39A17.3,17.3,0,0,1,2.07,1.12a6,6,0,0,0-.83,3.06A6.09,6.09,0,0,0,4,9.26,6.07,6.07,0,0,1,1.19,8.5v.08a6.11,6.11,0,0,0,4.9,6,6.07,6.07,0,0,1-1.61.21,6.31,6.31,0,0,1-1.15-.11A6.11,6.11,0,0,0,9,18.9a12.22,12.22,0,0,1-7.57,2.61A14,14,0,0,1,0,21.43a17.28,17.28,0,0,0,9.35,2.74c11.22,0,17.36-9.3,17.36-17.36,0-.27,0-.53,0-.79A12.55,12.55,0,0,0,29.74,2.86Z' style='fill: %23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
      &.socials--linkedin {
        a { 
            mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3012 21.3017H17.597V15.5005C17.597 14.1172 17.5723 12.3364 15.6704 12.3364C13.7411 12.3364 13.4459 13.8436 13.4459 15.3998V21.3013H9.74169V9.37176H13.2977V11.0021H13.3475C13.7034 10.3936 14.2177 9.89298 14.8355 9.55364C15.4534 9.21429 16.1517 9.04888 16.8561 9.07503C20.6105 9.07503 21.3027 11.5446 21.3027 14.7573L21.3012 21.3017ZM5.56211 7.74108C5.13696 7.74116 4.72132 7.61516 4.36778 7.37901C4.01424 7.14287 3.73868 6.80718 3.57591 6.41441C3.41314 6.02163 3.37048 5.58941 3.45335 5.1724C3.53622 4.75539 3.74089 4.37232 4.04146 4.07163C4.34203 3.77094 4.72502 3.56613 5.14199 3.48311C5.55896 3.40009 5.99117 3.44258 6.38399 3.60521C6.7768 3.76785 7.11257 4.04332 7.34884 4.39679C7.5851 4.75026 7.71126 5.16585 7.71133 5.59102C7.71138 5.87332 7.65582 6.15286 7.54784 6.41369C7.43986 6.67452 7.28158 6.91153 7.08201 7.11118C6.88243 7.31083 6.64548 7.46922 6.38469 7.5773C6.12391 7.68538 5.8444 7.74103 5.56211 7.74108ZM7.41422 21.3017H3.70614V9.37176H7.41422V21.3017ZM23.1479 0.00170329H1.84478C1.36126 -0.00375342 0.895331 0.182983 0.549417 0.520877C0.203502 0.858772 0.0059011 1.32018 0 1.80371V23.1959C0.00569913 23.6797 0.203184 24.1414 0.549087 24.4797C0.89499 24.8179 1.36102 25.005 1.84478 24.9999H23.1479C23.6326 25.0059 24.0999 24.8194 24.4472 24.4811C24.7945 24.1429 24.9933 23.6806 25 23.1959V1.80217C24.9931 1.31768 24.7941 0.855745 24.4469 0.517858C24.0996 0.179972 23.6324 -0.00623066 23.1479 0.000159189' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
      &.socials--youtube {
        a { 
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.33 22.74'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Artwork'%3E%3Cg id='Lozenge'%3E%3Cpath d='M32,4.91A7,7,0,0,0,30.72,1.7,4.58,4.58,0,0,0,27.48.33C23,0,16.17,0,16.17,0h0S9.37,0,4.85.33A4.6,4.6,0,0,0,1.61,1.7,7,7,0,0,0,.32,4.91,49.22,49.22,0,0,0,0,10.14v2.45a49.22,49.22,0,0,0,.32,5.23A7,7,0,0,0,1.61,21a5.5,5.5,0,0,0,3.56,1.39c2.59.24,11,.32,11,.32s6.79,0,11.31-.34A4.58,4.58,0,0,0,30.72,21,7,7,0,0,0,32,17.82a49.22,49.22,0,0,0,.32-5.23V10.14A49.22,49.22,0,0,0,32,4.91ZM12.83,15.56V6.48L21.56,11Z' style='fill: %23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
      &.socials--pinterest {
        //
      }
    }
  }
}
