//@use "../../01-settings/abstracts" as abstract;
@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/articles" as article;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/images-and-icons" as images;
@use "../../02-tools/grid" as grid;
@use "../../02-tools/spacing" as spacing;
@use "../../02-tools/buttons" as button;

.card-group-listing {
	&__grid {
		@include grid.standard-settings;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		align-items: center;
		@include breakpoint.medium-screen-min {
			grid-template-columns: 40% 1fr;
		}
	}

	&__image-wrap {
		padding: measurement.$universal-space-4 measurement.$universal-space 0
			measurement.$universal-space;
		@include breakpoint.large-screen-min {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: measurement.$universal-space-4
				measurement.$universal-space-2;
		}
	}

	&__image {
		width: 18rem;
		height: 9rem;
		object-fit: contain;
	}

	&__article {
		@include spacing.group-spacing-padding;
		@include article.standard-settings;
		padding-right: measurement.$universal-space;
		padding-left: measurement.$universal-space;
		max-width: measurement.$article-hero-max-width;
	}

	&__headline {
		margin-bottom: measurement.$universal-space;
	}

	&__tel {
		margin-top: measurement.$universal-space-2;
		margin-bottom: measurement.$universal-space-half;
	}

	&__tel,
	&__email {
		display: block;
		width: 100%;

		span {
			font-weight: 500;
		}
	}

	&__button {
		@include button.default-settings;
		margin-top: measurement.$universal-space-2;
	}

	&:nth-child(even) {
		background: var(--c-theme-third);
	}
}
