.center-text {
    .content__wrap {
        max-width: 70.6rem;
    }
    p {
		margin-bottom: 0;
	}
	&:has(.btn) {
		p {
			margin-bottom: 1.35em
		}
	}
    .section__inner {
        margin-bottom: 2rem;
    }
}