//@use "../../01-settings/abstracts" as abstract;
@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/container" as container;
//@use "../../02-tools/links" as link;
//@use "../../02-tools/lists" as list;
//@use "../../02-tools/buttons" as button;
@use "../../02-tools/typography" as typography;
@use "../../02-tools/images-and-icons" as image;
@use "../../02-tools/grid" as grid;
@use "../../02-tools/spacing" as spacing;
@use "../../02-tools/breakpoints" as breakpoint;

.footer {
	@include image.logo-settings(color.$c-pearl);
	@include spacing.section-spacing;
	background: color.$c-steal;
	overflow: hidden;

	&__inner {
		@include container.standard-settings(true);
		@include grid.standard-settings;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		@include breakpoint.large-screen-min {
			grid-template-columns: 40% 1fr;
		}
	}

	&__menu-grid {
		@include grid.standard-settings;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		@include breakpoint.large-screen-min {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	&__menu-title {
		margin-top: 0;
		text-decoration: underline;
	}

	.menu {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: measurement.$universal-space-half;

			li {
				width: 100%;
			}
		}

		a {
			justify-content: flex-start;
		}

	}

	.social-icons {
		margin: measurement.$universal-space-2 0;
	}

	&__copyright {
		@include typography.font-small;
		margin: 0;
	}
}
