@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/container" as container;
@use "../../02-tools/spacing" as spacing;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/buttons" as button;
@use "../../02-tools/typography" as typography;
////@use "../../02-tools/positioning" as position;
@use "../../02-tools/grid" as grid;
@use "../../02-tools/content" as content;


.get-in-touch {
	@include spacing.section-spacing;
	@include content.display-settings;
	background: color.$c-pearl;
	color: color.$c-white;
	position: relative;
	overflow: hidden;

	&__image-cut {
		z-index: 1;
		position: absolute;
		bottom: 0;
		right: -3px;
		width: 100px;
		height: 100px;
		fill: color.$c-pearl;
		@include breakpoint.large-screen-min {
			width: 150px;
			height: 150px;
			bottom: -3px;
			right: -3px;
		}

	}

	&__inner {
		@include container.standard-settings(true);
	}

	&__button {
		@include button.default-settings(color.$c-gold, color.$c-pearl);
	}

	&__grid {
		@include grid.standard-settings;
		grid-template-columns: repeat(1, minmax(0, 1fr));

		@include breakpoint.large-screen-min {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	&__article {
		@include breakpoint.large-screen-min {
			padding: 0;
		}
	}

	h3 {
		@include typography.headline-h2;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: measurement.$universal-space-2;
	}
}
