@use "../../01-settings/abstracts" as abstract;
@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/breakpoints" as breakpoint;

.hamburger {
	appearance: none !important;
	outline: none !important;
	padding: 0 !important;
	margin: 0 !important;
	display: flex;
	align-items: center;
	opacity: 1 !important;
	z-index: 2;
	position: relative;
	@include breakpoint.large-screen-min {
		display: none;
	}
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background: color.$c-white !important;
	height: 2px;
	border-radius: abstract.$border-radius-full;
}
