@use "../../01-settings/abstracts" as abstract;
@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/container" as container;
@use "../../02-tools/links" as link;
@use "../../02-tools/lists" as list;
@use "../../02-tools/buttons" as button;
@use "../../02-tools/typography" as typography;
@use "../../02-tools/images-and-icons" as image;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/positioning" as position;

.header {

	&--steal {
		background: color.$c-steal;
		color: color.$c-pearl;

		.header {
			&__logo-link {
				svg {
					fill: color.$c-pearl
				}
			}

			&__nav-wrap {
				.menu-item {
					&:after {
						background: color.$c-pearl !important;
					}
				}
			}
		}


		&.header--scrolling {
			color: color.$c-pearl;
			background: color.$c-steal;

			.header__logo-link svg {
				fill: color.$c-pearl
			}
		}
	}

	@include image.logo-settings(color.$c-white);
	padding: measurement.$universal-space-2 0;
	position: sticky;
	top: 0;
	color: color.$c-white;
	width: 100%;
	z-index: 5;
	transition: abstract.$global-transition;
	background: color.$c-pearl;

	&__inner {
		@include container.standard-settings(true);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&--overlay {
		position: fixed;
		background-color: transparent;
		padding: measurement.$universal-space-3 0;
	}

	&--scrolling {
		padding: measurement.$universal-space 0;
		background-color: color.$c-pearl;
		box-shadow: abstract.$box-shadow;
	}

	&__nav-wrap {
		display: none;
		@include breakpoint.large-screen-min {
			display: inline-block;
		}
	}

	&__mobile-wrap {
		.menu {
			@include position.full-size-element;
			@include position.flex-full;
			transform: translate3d(-100%, 0, 0);
			transition: abstract.$global-transition;
			background: color.$c-pearl;
			position: fixed;
			@include breakpoint.large-screen-min {
				display: none;
			}

			a {
				@include typography.headline-h5;
			}

			li {
				margin-bottom: measurement.$universal-space;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__logo-link {
		position: relative;
		z-index: 1;

	}
}

.navigation-active {
	.header {
		&__mobile-wrap {
			.menu {
				transform: translate3d(0, 0, 0);
			}

		}
	}
}

.menu {
	@include list.reset;

	display: flex;
	flex-wrap: wrap;
	gap: measurement.$universal-space-4;

	.menu-item {
		position: relative;

		&.btn, &.Btn {
			@include button.default-settings(color.$c-gold);

			&:after {
				display: none;
			}
		}


		&:after {
			content: "";
			width: 100%;
			display: block;
			height: 1px;
			background: color.$c-white;
			position: absolute;
			top: 80%;
			transform: translate3d(0, 5px, 0);
			opacity: 0;
			transition: abstract.$link-transition;
		}

		&:hover {
			&:after {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}

		&.current-menu-item {
			&:after {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}
	}

	a {
		@include link.reset;
		@include typography.font-small;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
