@use "../../01-settings/colors" as color;
@use "../../01-settings/measurements" as measurement;
@use "../../02-tools/container" as container;
@use "../../02-tools/spacing" as spacing;
@use "../../02-tools/breakpoints" as breakpoint;
@use "../../02-tools/buttons" as button;
@use "../../02-tools/typography" as typography;
@use "../../02-tools/positioning" as position;
@use "../../02-tools/grid" as grid;
@use "../../02-tools/content" as content;


.testimonials {
	@include spacing.section-spacing;
	@include content.display-settings(false, false);
	@include breakpoint.large-screen-min {
		padding-bottom: 6rem;
	}

	&__inner {
		@include container.standard-settings(true);
	}

	&__grid {
		@include grid.standard-settings;
		background: color.$c-pearl;
		color: color.$c-white;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		position: relative;
		padding: measurement.$universal-space-3 0;

		z-index: 1;
		@include breakpoint.large-screen-min {
			padding: 0;
			clip-path: polygon(85% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 0;
			transform: translate3d(6rem, 0, 0);
			width: 90%;
		}


		> div {
			padding: 0 measurement.$universal-space;
			@include breakpoint.medium-screen-min {
				padding: measurement.$universal-space-4
			}
			@include breakpoint.large-screen-min {
				padding: measurement.$universal-space-6;
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__after {
		@include position.full-size-after;
		z-index: -1;
		background: color.$c-steal;
		left: 0;
		display: none;
		width: 85%;
		height: 100%;
		transform: translate3d(0, 6rem, 0) rotate(180deg);
		clip-path: polygon(85% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
		@include breakpoint.large-screen-min {
			display: block;
		}

	}

	&__arrow {
		width: measurement.$universal-space-5;
		height: measurement.$universal-space-5;
	}

	&__text {
		text-transform: uppercase;
	}

	&__article {
		@include breakpoint.large-screen-min {
			margin-top: measurement.$universal-space-5;
		}
	}

	&__image {
		max-width: 20rem;
		object-fit: contain;

		margin-bottom: measurement.$universal-space-2;
		@include breakpoint.large-screen-min {
			max-width: 30rem;
			margin: 0;
		}
	}

	&__button {
		padding: 0;
		text-decoration: underline;

		&:hover {
			background: none;
			color: color.$c-gold;
		}
	}

}
