@use "../../../../resources/scss/01-settings/colors" as color;
@use "../../../../resources/scss/01-settings/measurements" as measurement;
@use "../../../../resources/scss/02-tools/articles" as article;
@use "../../../../resources/scss/02-tools/images-and-icons" as image;
@use "../../../../resources/scss/02-tools/buttons" as button;
@use "../../../../resources/scss/02-tools/breakpoints" as breakpoint;

.news-and-media-card {
	position: relative;

	&__image-wrap {
		@include image.aspect-ratio-16-9;
		margin-bottom: measurement.$universal-space-2;
	}

	&__article {
		@include article.standard-settings;
		padding-bottom: calc(58px + #{measurement.$universal-space});
	}

	&__image-cut {
		position: absolute;
		bottom: 0;
		right: -5px;
		z-index: 1;
		width: 150px;
		height: 150px;
		@include breakpoint.large-screen-min {
			width: 75px;
			height: 75px;
			right: -3px;
		}
	}

	&__headline {
		margin-bottom: measurement.$universal-space;
	}

	&__excerpt {
		overflow: hidden;
		width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__link {
		@include button.default-settings(color.$c-pearl, color.$c-white);
		display: inline-block;
		position: absolute;
		bottom: 0;
	}

}

