$modal-max-width: 62rem;
$content-max-width: 72rem;
$address-max-width: 50rem;
$branding-max-width-tablet: 40rem;
$branding-max-width-desktop: 50rem;
$universal-space: 1.5rem;
$universal-space-half: calc(#{$universal-space} / 2);
$universal-space-2: calc(#{$universal-space} * 2);
$universal-space-3: calc(#{$universal-space} * 3);
$universal-space-4: calc(#{$universal-space} * 4);
$universal-space-5: calc(#{$universal-space} * 5);
$universal-space-6: calc(#{$universal-space} * 6);
$universal-space-7: calc(#{$universal-space} * 7);
$universal-space-8: calc(#{$universal-space} * 8);
$universal-space-9: calc(#{$universal-space} * 9);
$universal-space-10: calc(#{$universal-space} * 10);
$universal-space-11: calc(#{$universal-space} * 11);
$universal-space-12: calc(#{$universal-space} * 12);
$section-standard-max-width: 142rem;
$section-slim-max-width: 92rem;
$modal-max-width: 92rem;
$article-max-width: 72rem;
$article-hero-max-width: 50rem;
$card-content-max-width: 35rem;
$address-max-width: 50rem;
$form-max-width: 50rem;
$header-max-width: 72rem;
$contact-block: 35rem;
$copyright: 50rem;
